body{
    font-family: 'Merriweather', serif;
font-family: 'Work Sans', sans-serif;
}

/* header-css */
.background-banner{
background-image: url('../images/Banner\ Image.png');
width: 1400px;
height: 600px;
background-repeat: no-repeat;
margin: 50px 100px 0px 100px;
padding: 70px 0px 0px 0px;
border-radius: 16px;
}
.happy-new-year{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.new-party{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px; 
    margin-left: 344px;
}
/* Main-css */
.main-off{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.main-holiday{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.main-categories{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 0px;
}
.new-year-img{
     text-align: center;
     width: 600.9px;
height: 370px;
margin-left: 440px;
flex-shrink: 0;
}
.celebration{
    background-image: url('../images/Vectorrr.png');
    width: 1400px;
height: 600px;
background-repeat: no-repeat;
margin: 50px 100px 0px 100px;
}
.main-welcome{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
margin: 126px 0px 0px 126px;
}
.main-miss{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 0px 100px 0px 126px;
}
.main-btn{
    border: 0px;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
background-color: transparent;
margin: 50px 0px 0px 158px;
}
.main-2024{
    width: 300px;
    height: 410px;
    margin: 68px 208px 0px 0px;
}
.main-celebration{
    display: flex;
}
.party-info{
    margin-top: 500px;
    width: 1320px;
height: 600px;
flex-shrink: 0;
margin: 50px 0px 0px 100px;
border-radius: 16px;
background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
padding: 10px 0px 0px 0px;

}
.party-detail{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
}
.party-detail-color{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; 
}
.party{
    text-align: center;
    margin-top: 100px;
    
}
.btn-join-now{
    border: 0px;
    border-radius: 8px;
background: #F00;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
}
.new-best-offer{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.coming-soon{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.new-plans{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.candles{
    width: 364.844px;
height: 364.844px;
flex-shrink: 0;
    border-radius: 463px;
border: 15px solid #F00;

}
.third-row{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.now-plans{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.offer{
    display: flex;
}
.first-row{
    margin-left: 100px;
    margin-right: 70px;
}
.third-row-plan{
    margin-right: 100px;
}
.second-row{
    margin-right: 100px;
}